{% extends 'core/base.html' %} {% block title %}{{ room.slug }} |{% endblock %}
{% block content %}

<div class="p-10 lg:pt-15 pb-20 text-center">
  <h1 class="text-3xl lg:text-6xl text-red-800 font-bold">{{ room.name }}</h1>
</div>
<div class="md:flex md:justify-between md:mx-24 mx-4">
  <div class="mb-10 md:mb-0">
    <h1
      class="flex justify-center text-3xl lg:text-4xl text-red-800 mb-10 font-semibold"
    >
      Stoc Sânge
    </h1>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-center">
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">O(I)</p>
          <p class="text-xl md:text-3xl font-semibold">Pozitiv (+)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.Opositive }}
        </p>
      </div>
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">O(I)</p>
          <p class="text-xl md:text-3xl font-semibold">Negativ (-)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.Onegative }}
        </p>
      </div>
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">A(II)</p>
          <p class="text-xl md:text-3xl font-semibold">Pozitiv (+)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.Apositive }}
        </p>
      </div>
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">A(II)</p>
          <p class="text-xl md:text-3xl font-semibold">Negativ (-)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.Anegative }}
        </p>
      </div>
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">B(III)</p>
          <p class="text-xl md:text-3xl font-semibold">Pozitiv (+)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.Bpositive }}
        </p>
      </div>
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">B(III)</p>
          <p class="text-xl md:text-3xl font-semibold">Negativ (-)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.Bnegative }}
        </p>
      </div>
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">AB(IV)</p>
          <p class="text-xl md:text-3xl font-semibold">Pozitiv (+)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.ABpositive }}
        </p>
      </div>
      <div class="grid place-items-center bg-red-700 p-2 md:p-5 rounded-xl">
        <div class="grid place-items-center text-white">
          <p class="text-xl md:text-3xl font-semibold pb-1">AB(IV)</p>
          <p class="text-xl md:text-3xl font-semibold">Negativ (-)</p>
        </div>
        <p class="text-xl md:text-3xl font-semibold text-white">
          {{ room.ABnegative }}
        </p>
      </div>
    </div>
  </div>
  <div>
    <iframe
      src="{{ room.maps_link }}"
      width="700"
      class="hidden md:block rounded-lg border ml-5"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="grid place-items-center md:hidden border mb-5">
    <iframe
      src="{{ room.maps_link }}"
      width="300"
      height="400"
      class="rounded-lg"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<div id="contact" class="max-w-[1040px] m-auto md:pl-20 p-4 py-16">
  <h1 class="py-4 text-4xl font-bold text-center text-red-800">
    Programează-te
  </h1>
  <form
    action="{{room.getformio_link}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="grid md:grid-cols-2 gap-4 w-full py-2">
      <div class="flex flex-col text-black">
        <label class="uppercase text-sm py-2">Nume de familie</label>
        <input
          class="border-2 rounded-lg p-3 border-black flex bg-transparent"
          type="text"
          name="last_name"
          value="{{user.last_name}}"
        />
      </div>
      <div class="flex flex-col text-black">
        <label class="uppercase text-sm py-2">Prenume</label>
        <input
          class="border-2 rounded-lg p-3 border-black flex bg-transparent"
          type="text"
          name="first_name"
          value="{{user.first_name}}"
        />
      </div>
      <div class="flex flex-col text-black">
        <label class="uppercase text-sm py-2"> Numar telefon </label>
        <input
          class="border-2 rounded-lg p-3 border-black flex bg-transparent"
          type="text"
          name="phone"
        />
      </div>
    </div>
    <div class="flex flex-col py-2 text-black">
      <label class="uppercase text-sm py-2">Email</label>
      <input
        class="border-2 rounded-lg p-3 border-black flex bg-transparent"
        type="email"
        name="email"
        value="{{user.email}}"
      />
    </div>
    <div class="flex flex-col text-black">
      <label class="uppercase text-sm py-2">Data</label>
      <input
        class="border-2 rounded-lg p-3 border-black flex bg-transparent"
        type="date"
        name="appointment_date"
      />
    </div>
    <div class="flex flex-col text-black">
      <label class="uppercase text-sm py-2">Ora</label>
      <input
        type="time"
        class="border-2 rounded-lg p-3 border-black flex bg-transparent"
        name="appointment_time"
        min="7:30"
        max="14:00"
        step="1800"
        required
      />
      <span class="validity"></span>
    </div>

    <button
      class="bg-red-800 text-white font-semibold mt-4 w-full p-4 rounded-full text-xl hover:opacity-80 transition duration-300"
    >
      Trimite Programare
    </button>
  </form>
</div>

{% endblock %}
